* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.4;
}
/* PRODUCT */
.product {
	border: 4px solid black;
	width: 825px;
	margin: 50px auto;
	position: relative;
}

h2::after {
	content: "SALE";
	display: inline-block;
	padding: 5px 15px;
	font-size: 15px;
	background-color: red;
	color: white;
	position: absolute;
	top: -17px;
	left: -35px;
}

.product-title {
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	background-color: #f7f7f7;
	padding: 15px;
}
.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 45px;
}

/* PRODUCT INFORMATION */
.price {
	font-size: 24px;
}

.shipping {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #777;
	display: grid;
	justify-items: end;
}

.more-info:link,
.more-info:visited {
	color: black;
}

.more-info:hover,
.more-info:active {
	text-decoration: none;
}
.product-info,
.product-details {
	padding-top: 20px;
}
.product-price {
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

/* PRODUCT DETAILS */

.details-title {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
}

.details-list {
	list-style: square;
	margin-left: 20px;
}

.details-list li {
	margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
	background-color: #000;
	border: none;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border-top: 4px solid black;
}

.add-cart:hover {
	color: #000;
	background-color: #fff;
}

/* squares */
.squares {
	display: flex;
	margin-top: 20px;
	gap: 10px;
}
.sq {
	height: 25px;
	width: 25px;
}
#black {
	background-color: black;
}
#blue {
	background-color: blue;
}
#red {
	background-color: red;
}
#golden {
	background-color: goldenrod;
}
#green {
	background-color: green;
}
#brown {
	background-color: brown;
}
